
  .row {
    display: flex;
    flex-wrap: wrap;
    padding:  200px;
  } */


   .column { 
    flex: 100%;
    padding-left: 200px;
  }
  
 
.column img {
  margin-top: 200px;
  vertical-align: middle;
}

.column img {
  margin-top: 200px;
  vertical-align: middle;
} 

.column img:hover {
  fill: red;
  cursor: pointer;
}





/* .column img .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.column .btn:hover {
  background-color: black;
}


	

.state {
  stroke-width: 1;
  stroke: #ffffff;
}

	

.state:hover {
  fill: red;
  cursor: pointer;
} */